{% extends 'main.html' %}


{% block content %}

<h1>Logs</h1>
        {% for log in db_show %}
        {% set count = loop.index0 %}
        <div class="log">
                <p>{{count+1}}</p>

                <table>
                        <tr>
                                <th>Device ID</th>
                                <th>Longtitude</th>
                                <th>Langtitude</th>
                                <th>MAC</th>
                                <th>Time</th>
                        </tr>
                        <tr>
                                <th>{{log["id"]}}</th>
                                <th>{{log["lotCor"]}}</th>
                                <th>{{log["latCor"]}}</th>
                                <th>{{log['macAdd']}}</th>
                                <th>{{log['datetime']}}</th>
                        </tr>
                </table>
          
                <button class="LogButton">
                        <a href = "{{mapLinks[count]}}" target="_blank">Go to maps:</a>
                </button>
         </div>
         <br></br>
        {% endfor %}
{% endblock %}

