<!DOCTYPE HTML>

<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/stylesheet.css">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	
</head>


<h1>ABS Center</h1>
	<p>-----------------------------------</p>
	<nav>
		<form method = "POST">
			<input type="submit" name="action1" value="GPS">
			<input type="submit" name="action1" value="Database">
		</form>
	</nav>
<body>

<p>
{% block content %}

{% endblock %}
</p>

<body>

</html>